# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
.env

# Django
backend/staticfiles/
backend/media/
db.sqlite3

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
