DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DB_NAME=postgres
DB_USER=postgres.svlzhiedwikflidwpmyf
DB_PASSWORD=Laritabragosta09.
DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=6543
CORS_ALLOWED_ORIGINS=http://localhost:5173
